  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
{#          <ul class="scl">#}
{#            <li><a href=""><i class="fa fa-facebook"></i></a></li>#}
{#            <li><a href=""><i class="fa fa-instagram"></i></a></li>#}
{#            <li><a href=""><i class="fa fa-vk"></i></a></li>#}
{#            <li><a href=""><i class="fa fa-linkedin"></i></a></li>#}
{#          </ul>#}
          <p class="cprit">Copyright &copy 2019 SITE</p>
        </div>
      </div>
    </div>
  </footer>