{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}{{ post.head_title }}{% endblock head_title %}
{% block head_description %}{{ post.head_description }}{% endblock head_description %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="post-detail">
                    <img src="{{ post.thumbnail.url }}" class="img-fluid img-thumbnail" alt="{{ post.thumbnail_alt }}">
                    <div class="post-detail__title">{{ post.title }}</div>
                    <ul class="post-detail__fa">
                        <li><i class="fa fa-comments" aria-hidden="true"> {{ comment_count }}</i></li>
                        <li><i class="fa fa-eye" aria-hidden="true"> {{ post.view_count }}</i></li>
                    </ul>
                    <ul class="post-detail__tags">
                        {% for tag in post.categories.all %}
                            <a href="{{ tag.get_absolute_url }}">
                                <li>{{ tag }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="post-detail__text p-5">{{ post.content|safe }}</div>
            </div>
            <div class="col-lg-2 p-0">
                <div class="category ml-5 mb-5">
                    <h3 class="category__title">Категории:</h3>
                    <ul class="category__list">
                        {% for category in categories_list %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tops ml-5">
                    <h3 class="tops__title">Топ 5:</h3>
                    <ul class="tops__list">
                        {% for post in tops_list %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.thumbnail.url }}" class="img-fluid img-thumbnail"
                                         alt="{{ post.thumbnail_alt }}">
                                    <h5 class="mt-1 text-center">{{ post.title|truncatewords:6 }}</h5>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-3">Коментарии:</h3>
                {% if not comments_list %}
                    <p>Пока ничего нет...</p>
                {% else %}
                    {% for comment in comments_list %}
                        <div class="mb-3 row comment">
                            <div class="col-md-1 col-sm-2 text-center pr-1">
                                <a href=""><img class="mx-auto rounded-circle img-fluid"
                                                src="{% static "img/noavatar.png" %}" alt="avatar"></a>
                            </div>
                            <div class="col-md-11 col-sm-10">
                                <h6 class="comment__user"><span> {% ifequal comment.user None %}
                                    {{ comment.guest_user }} {% else %}
                                    {{ comment.user }} {% endifequal %}</span> {{ comment.timestamp }}</h6>
                                <div class="comment__body">
                                    {{ comment.content }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <form action="{% url 'post_detail_url' post.slug %}" method="post">
                            {% csrf_token %}
                            <div class="col-sm-8 col-sm-offset-2 p-0">
                                <div class="form">
                                    {% if not user.is_authenticated %}
                                        {{ form.user|as_crispy_field }}
                                    {% endif %}
                                        {{ form.content|as_crispy_field }}
                                </div>
                                <button class="btn btnblack">Коментировать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
